body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
    background-color:#ec78;
    overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

.logo{
    width: 45px;
    height: 40px;
    margin: 0;
}

h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.images{
    height: 550px;
    width: 1100px;
    margin: 10px;
}

.header {
    z-index: 20;
    width: 100vw;
	padding-top: 57px;
	color: #fff;
    margin-bottom: calc(20vw + 325px);
}

.bg{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}



@media(max-width: 1500px){
    .bg{
        width: 100%;
        height: 60vh;
    }
}
@media(max-width: 1000px){
    .bg{
        height: 45%;
    }
}
@media(max-width: 767px){
    .bg{
        height: 20%;
    }
}

header a {
    z-index: 20;
	color: #fff;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
	margin-right: 69px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.logo img{
    width: 90%;
    height: 90%;
}

.menu {
    z-index: 20;
	display: flex;
    margin: 0px;
    padding: 0;
}

.menu li a {
    z-index: 20;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
    z-index: 20;
	margin-right: 40px;
}

.tel {
    z-index: 20;
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
    z-index: 20;
	display: flex;
	align-items: center;
}

.offer {
    position: relative;
    z-index: 20;
	margin-top: 216px;
}

.offer p {
    z-index: 20;
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
    z-index: 20;
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em;
}

.btn {
    z-index: 20;
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #fff;
    color: #000;
}



.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
}

.gallery {
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}



@media(max-width: 1200px){
    .container{
         max-width: 900px;   
    }
    .gallery{
        gap: 40px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
    .gallery img{
        width: 700px;
        height: 1000px;
    }
}


.footer-text {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
    align-items: center;
    justify-content: center;
	padding: 114px 0
}

.footer-text p {
	margin-right: 67px;
}